Checks: >
  -*,
  clang-analyzer-*,
  bugprone-branch-clone,
  bugprone-dangling-handle,
  bugprone-infinite-loop,
  bugprone-misplaced-widening-cast,
  bugprone-sizeof-container,
  bugprone-sizeof-expression,
  bugprone-string-constructor,
  bugprone-suspicious-enum-usage,
  bugprone-suspicious-memset-usage,
  bugprone-suspicious-semicolon,
  bugprone-use-after-move,
  performance-move-const-arg,
  performance-noexcept-move-constructor,
  performance-unnecessary-copy-initialization
WarningsAsErrors: ''
HeaderFilterRegex: '.*[\\/](src|include)[\\/].*'
ExcludeHeaderFilterRegex: '.*[\\/]3rdparty[\\/].*'
SystemHeaders: false
FormatStyle: file
